<%= node['dispatcher']['srv_acc'] %> ALL=(ALL) NOPASSWD: /usr/sbin/apachectl * , /usr/bin/rsync * , /bin/rm -rf /data/dispatcher/* , /bin/rm -rf /etc/httpd/vhosts.d/* , /bin/rm -rf /etc/httpd/dispatcher.d/*

