<IfModule disp_apache2.c>
        # location of the configuration file. eg: 'conf/dispatcher.any'
        DispatcherConfig <%= node['dispatcher']['config_file_path'] %>

        # location of the dispatcher log file. eg: 'logs/dispatcher.log'
        DispatcherLog    <%= node['apache']['log_dir'] %>/dispatcher.log

        # log level for the dispatcher log
        # 0 Errors
        # 1 Warnings
        # 2 Infos
        # 3 Debug
        DispatcherLogLevel <%= node['dispatcher']['log_level'] %>

        # if turned on, the dispatcher looks like a normal module
        DispatcherNoServerHeader Off

        # if turned on, request to / are not handled by the dispatcher
        # use the mod_alias then for the correct mapping
        DispatcherDeclineRoot Off

        # if turned on, the dispatcher uses the URL already processed
        # by handlers preceeding the dispatcher (i.e. mod_rewrite)
        # instead of the original one passed to the web server.
        DispatcherUseProcessedURL Off

        # if turned to 1, the dispatcher does not spool an error
        # response to the client (where the status code is greater
        # or equal than 400), but passes the status code to
        # Apache, which e.g. allows an ErrorDocument directive
        # to process such a status code.
        #
        # Additionally, one can specify the status code ranges that should
        # be left to web server to handle, e.g.
        #
        # DispatcherPassError 400-404,501
        DispatcherPassError 0
</IfModule>